body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #1F1F1F;
  color: white;
}
h1 {
  font-family: 'Poppins', serif;
  padding-left: 1rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: 'Poppins', serif;
  padding: 1rem;
}

p {
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem;
}

.all-content{
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.map {
  flex-grow: 1;
}

.top-bar {
  width: 100%;
  height: 7%;
  overflow-y: auto;
  background-color: #fcba03;
  text-transform: uppercase;
  color: #1F1F1F
}


.slide-side {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.slide-content {
  flex-grow: 1;
  overflow-y: scroll;
  margin-left: 1rem;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
}

.slide-butt {
  transition: all 0.4s ease-out;
  background-color: #fcba03;
  color: #1F1F1F;
  border-color: #1F1F1F;
  border-radius: 10px;
  margin: 1rem;
  height: 4rem;
  width: 6rem;
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.slide-butt:hover {
  background-color:black;
  color: aliceblue;
  cursor: pointer;
}
.button-text {
  font-size: 3rem;
  text-align: center;
}

#overlay {
  position: absolute;
  top: 25%;
  left: 25%;
  background: #fcba03;
  border: 0.1rem solid white;
  width: 30rem;
  height: 30rem;
  opacity: 0.8;
  z-index: 1000;
}

#popup {
  position: absolute;
  top: 26%;
  left: 25.5%;
  border: 0.1rem solid white;
  background: #1F1F1F;
  width: 30rem;
  height: 30rem;
  z-index: 2000;
}

#popupclose {
  float: right;
  padding: 20px;
  cursor: pointer;
  font-size: 1rem;
}

#popupclose:hover {
  transition: all 0.4s ease-out;  
  float: right;
  padding: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  
}



#popup a:link
{
  color: #fcba03;
  font-weight: 700;
  font-size: 1rem;
}

#popup a:hover,
#popup a:visited
{
  transition: all 0.4s ease-out;  
  font-style: italic;
  font-size: 1.1rem;
  color: #fcba03;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.info-legend {
  padding: 0.5rem;
  border: 0.2rem solid #1F1F1F;
  background-color: rgb(255, 255, 255, 0.3);
  display: flex; 
  flex-direction: column;
}
.legendtext {
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.cuteTable th{
  border-top: 0.2rem solid white;
  text-align: center;
}

.cuteTable td{
  padding: 0.5rem;
  border-top: 0.1rem solid white;
  text-align: center;
}
.cuteTable tr:hover{
  background-color: #fcba03;
  color: #1F1F1F;
}